@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  @apply bg-tertiary h-full w-full;
  min-height: 100vh;
}


.title-s {
  width: fit-content;
  margin: 0 auto;
}

.title-s:after {
  display: block;
  content: '';
  border-bottom: solid 4px #F875AA;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.title-s:hover:after {
  transform: scaleX(1);
}




::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #F875AA;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}